.container {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    width:100%;
    height: 100vh;
    padding: 100px;;

}

.wrapper {
    padding: 10px;
    margin: 200px;
    border: 2px solid whitesmoke;
}

.quote {
    font-family: 'Franklin Gothic Medium';
    font-size: large;
}

.author {
    font-style: italic;
}

.button-main {
    padding: 10px;
    margin: 30px;
}

.button-main:hover {
    opacity: 0.8;
}

.fade-in {
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
    }